<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfect.trains.mapper.TrainModelEquipmentClassificationMapper" >
  <resultMap id="BaseResultMap" type="com.perfect.trains.model.TrainModelEquipmentClassification" >
    <id column="trainModelEquipmentClassification_id" property="id" />
    <result column="trainModelEquipmentClassification_equipment_classification_id" property="equipmentClassificationId" jdbcType="BIGINT" />
    <result column="trainModelEquipmentClassification_train_model_id" property="trainModelId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    trainModelEquipmentClassification.id as trainModelEquipmentClassification_id, trainModelEquipmentClassification.equipment_classification_id as trainModelEquipmentClassification_equipment_classification_id, 
    trainModelEquipmentClassification.train_model_id as trainModelEquipmentClassification_train_model_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.perfect.trains.model.TrainModelEquipmentClassificationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trainmodel_equipmentclassification trainModelEquipmentClassification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from trainmodel_equipmentclassification trainModelEquipmentClassification
    where trainModelEquipmentClassification.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete trainModelEquipmentClassification from trainmodel_equipmentclassification trainModelEquipmentClassification
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.perfect.trains.model.TrainModelEquipmentClassificationExample" >
    delete trainModelEquipmentClassification from trainmodel_equipmentclassification trainModelEquipmentClassification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.perfect.trains.model.TrainModelEquipmentClassification" useGeneratedKeys="true" keyProperty="id" >
    insert into trainmodel_equipmentclassification (equipment_classification_id, train_model_id
      )
    values (#{equipmentClassificationId,jdbcType=BIGINT}, #{trainModelId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.perfect.trains.model.TrainModelEquipmentClassification" useGeneratedKeys="true" keyProperty="id" >
    insert into trainmodel_equipmentclassification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="equipmentClassificationId != null" >
        equipment_classification_id,
      </if>
      <if test="trainModelId != null" >
        train_model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="equipmentClassificationId != null" >
        #{equipmentClassificationId,jdbcType=BIGINT},
      </if>
      <if test="trainModelId != null" >
        #{trainModelId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.perfect.trains.model.TrainModelEquipmentClassificationExample" resultType="java.lang.Integer" >
    select count(*) from trainmodel_equipmentclassification trainModelEquipmentClassification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update trainmodel_equipmentclassification trainModelEquipmentClassification
    <set >
      <if test="record.id != null" >
        trainModelEquipmentClassification.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.equipmentClassificationId != null" >
        trainModelEquipmentClassification.equipment_classification_id = #{record.equipmentClassificationId,jdbcType=BIGINT},
      </if>
      <if test="record.trainModelId != null" >
        trainModelEquipmentClassification.train_model_id = #{record.trainModelId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update trainmodel_equipmentclassification trainModelEquipmentClassification
    set trainModelEquipmentClassification.id = #{record.id,jdbcType=BIGINT},
      trainModelEquipmentClassification.equipment_classification_id = #{record.equipmentClassificationId,jdbcType=BIGINT},
      trainModelEquipmentClassification.train_model_id = #{record.trainModelId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.perfect.trains.model.TrainModelEquipmentClassification" >
    update trainmodel_equipmentclassification
    <set >
      <if test="equipmentClassificationId != null" >
        equipment_classification_id = #{equipmentClassificationId,jdbcType=BIGINT},
      </if>
      <if test="trainModelId != null" >
        train_model_id = #{trainModelId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.perfect.trains.model.TrainModelEquipmentClassification" >
    update trainmodel_equipmentclassification
    set equipment_classification_id = #{equipmentClassificationId,jdbcType=BIGINT},
      train_model_id = #{trainModelId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>