<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfect.trains.mapper.UserRoleGroupMapper" >
  <resultMap id="BaseResultMap" type="com.perfect.trains.model.UserRoleGroup" >
    <id column="user_roleGroup_id" property="id" />
    <result column="user_roleGroup_user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_roleGroup_role_group_id" property="roleGroupId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_roleGroup.id as user_roleGroup_id, user_roleGroup.user_id as user_roleGroup_user_id, 
    user_roleGroup.role_group_id as user_roleGroup_role_group_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.perfect.trains.model.UserRoleGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_rolegroup user_roleGroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_rolegroup user_roleGroup
    where user_roleGroup.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete user_roleGroup from user_rolegroup user_roleGroup
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.perfect.trains.model.UserRoleGroupExample" >
    delete user_roleGroup from user_rolegroup user_roleGroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.perfect.trains.model.UserRoleGroup" useGeneratedKeys="true" keyProperty="id" >
    insert into user_rolegroup (user_id, role_group_id)
    values (#{userId,jdbcType=BIGINT}, #{roleGroupId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.perfect.trains.model.UserRoleGroup" useGeneratedKeys="true" keyProperty="id" >
    insert into user_rolegroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roleGroupId != null" >
        role_group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleGroupId != null" >
        #{roleGroupId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.perfect.trains.model.UserRoleGroupExample" resultType="java.lang.Integer" >
    select count(*) from user_rolegroup user_roleGroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_rolegroup user_roleGroup
    <set >
      <if test="record.id != null" >
        user_roleGroup.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_roleGroup.user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.roleGroupId != null" >
        user_roleGroup.role_group_id = #{record.roleGroupId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_rolegroup user_roleGroup
    set user_roleGroup.id = #{record.id,jdbcType=BIGINT},
      user_roleGroup.user_id = #{record.userId,jdbcType=BIGINT},
      user_roleGroup.role_group_id = #{record.roleGroupId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.perfect.trains.model.UserRoleGroup" >
    update user_rolegroup
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleGroupId != null" >
        role_group_id = #{roleGroupId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.perfect.trains.model.UserRoleGroup" >
    update user_rolegroup
    set user_id = #{userId,jdbcType=BIGINT},
      role_group_id = #{roleGroupId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>