<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfect.trains.mapper.EquipmentRepairRecordMapper" >
  <resultMap id="BaseResultMap" type="com.perfect.trains.model.EquipmentRepairRecord" >
    <id column="equipmentRepairRecord_id" property="id" />
    <result column="equipmentRepairRecord_train_id" property="trainId" jdbcType="BIGINT" />
    <result column="equipmentRepairRecord_equipment_id" property="equipmentId" jdbcType="BIGINT" />
    <result column="equipmentRepairRecord_repair_date" property="repairDate" jdbcType="DATE" />
    <result column="equipmentRepairRecord_type" property="type" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter1" property="parameter1" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter2" property="parameter2" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter3" property="parameter3" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter4" property="parameter4" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter5" property="parameter5" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter6" property="parameter6" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter7" property="parameter7" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter8" property="parameter8" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter9" property="parameter9" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter10" property="parameter10" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter11" property="parameter11" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter12" property="parameter12" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter13" property="parameter13" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter14" property="parameter14" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter15" property="parameter15" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter16" property="parameter16" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter17" property="parameter17" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter18" property="parameter18" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter19" property="parameter19" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter20" property="parameter20" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter21" property="parameter21" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter22" property="parameter22" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter23" property="parameter23" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter24" property="parameter24" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter25" property="parameter25" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter26" property="parameter26" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter27" property="parameter27" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter28" property="parameter28" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter29" property="parameter29" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter30" property="parameter30" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter31" property="parameter31" jdbcType="VARCHAR" />
    <result column="equipmentRepairRecord_parameter32" property="parameter32" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    equipmentRepairRecord.id as equipmentRepairRecord_id, equipmentRepairRecord.train_id as equipmentRepairRecord_train_id, 
    equipmentRepairRecord.equipment_id as equipmentRepairRecord_equipment_id, equipmentRepairRecord.repair_date as equipmentRepairRecord_repair_date, 
    equipmentRepairRecord.`type` as `equipmentRepairRecord_type`, equipmentRepairRecord.parameter1 as equipmentRepairRecord_parameter1, 
    equipmentRepairRecord.parameter2 as equipmentRepairRecord_parameter2, equipmentRepairRecord.parameter3 as equipmentRepairRecord_parameter3, 
    equipmentRepairRecord.parameter4 as equipmentRepairRecord_parameter4, equipmentRepairRecord.parameter5 as equipmentRepairRecord_parameter5, 
    equipmentRepairRecord.parameter6 as equipmentRepairRecord_parameter6, equipmentRepairRecord.parameter7 as equipmentRepairRecord_parameter7, 
    equipmentRepairRecord.parameter8 as equipmentRepairRecord_parameter8, equipmentRepairRecord.parameter9 as equipmentRepairRecord_parameter9, 
    equipmentRepairRecord.parameter10 as equipmentRepairRecord_parameter10, equipmentRepairRecord.parameter11 as equipmentRepairRecord_parameter11, 
    equipmentRepairRecord.parameter12 as equipmentRepairRecord_parameter12, equipmentRepairRecord.parameter13 as equipmentRepairRecord_parameter13, 
    equipmentRepairRecord.parameter14 as equipmentRepairRecord_parameter14, equipmentRepairRecord.parameter15 as equipmentRepairRecord_parameter15, 
    equipmentRepairRecord.parameter16 as equipmentRepairRecord_parameter16, equipmentRepairRecord.parameter17 as equipmentRepairRecord_parameter17, 
    equipmentRepairRecord.parameter18 as equipmentRepairRecord_parameter18, equipmentRepairRecord.parameter19 as equipmentRepairRecord_parameter19, 
    equipmentRepairRecord.parameter20 as equipmentRepairRecord_parameter20, equipmentRepairRecord.parameter21 as equipmentRepairRecord_parameter21, 
    equipmentRepairRecord.parameter22 as equipmentRepairRecord_parameter22, equipmentRepairRecord.parameter23 as equipmentRepairRecord_parameter23, 
    equipmentRepairRecord.parameter24 as equipmentRepairRecord_parameter24, equipmentRepairRecord.parameter25 as equipmentRepairRecord_parameter25, 
    equipmentRepairRecord.parameter26 as equipmentRepairRecord_parameter26, equipmentRepairRecord.parameter27 as equipmentRepairRecord_parameter27, 
    equipmentRepairRecord.parameter28 as equipmentRepairRecord_parameter28, equipmentRepairRecord.parameter29 as equipmentRepairRecord_parameter29, 
    equipmentRepairRecord.parameter30 as equipmentRepairRecord_parameter30, equipmentRepairRecord.parameter31 as equipmentRepairRecord_parameter31, 
    equipmentRepairRecord.parameter32 as equipmentRepairRecord_parameter32
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.perfect.trains.model.EquipmentRepairRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipment_repairrecord equipmentRepairRecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from equipment_repairrecord equipmentRepairRecord
    where equipmentRepairRecord.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete equipmentRepairRecord from equipment_repairrecord equipmentRepairRecord
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.perfect.trains.model.EquipmentRepairRecordExample" >
    delete equipmentRepairRecord from equipment_repairrecord equipmentRepairRecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.perfect.trains.model.EquipmentRepairRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into equipment_repairrecord (train_id, equipment_id, repair_date, 
      `type`, parameter1, parameter2, 
      parameter3, parameter4, parameter5, 
      parameter6, parameter7, parameter8, 
      parameter9, parameter10, parameter11, 
      parameter12, parameter13, parameter14, 
      parameter15, parameter16, parameter17, 
      parameter18, parameter19, parameter20, 
      parameter21, parameter22, parameter23, 
      parameter24, parameter25, parameter26, 
      parameter27, parameter28, parameter29, 
      parameter30, parameter31, parameter32
      )
    values (#{trainId,jdbcType=BIGINT}, #{equipmentId,jdbcType=BIGINT}, #{repairDate,jdbcType=DATE}, 
      #{type,jdbcType=VARCHAR}, #{parameter1,jdbcType=VARCHAR}, #{parameter2,jdbcType=VARCHAR}, 
      #{parameter3,jdbcType=VARCHAR}, #{parameter4,jdbcType=VARCHAR}, #{parameter5,jdbcType=VARCHAR}, 
      #{parameter6,jdbcType=VARCHAR}, #{parameter7,jdbcType=VARCHAR}, #{parameter8,jdbcType=VARCHAR}, 
      #{parameter9,jdbcType=VARCHAR}, #{parameter10,jdbcType=VARCHAR}, #{parameter11,jdbcType=VARCHAR}, 
      #{parameter12,jdbcType=VARCHAR}, #{parameter13,jdbcType=VARCHAR}, #{parameter14,jdbcType=VARCHAR}, 
      #{parameter15,jdbcType=VARCHAR}, #{parameter16,jdbcType=VARCHAR}, #{parameter17,jdbcType=VARCHAR}, 
      #{parameter18,jdbcType=VARCHAR}, #{parameter19,jdbcType=VARCHAR}, #{parameter20,jdbcType=VARCHAR}, 
      #{parameter21,jdbcType=VARCHAR}, #{parameter22,jdbcType=VARCHAR}, #{parameter23,jdbcType=VARCHAR}, 
      #{parameter24,jdbcType=VARCHAR}, #{parameter25,jdbcType=VARCHAR}, #{parameter26,jdbcType=VARCHAR}, 
      #{parameter27,jdbcType=VARCHAR}, #{parameter28,jdbcType=VARCHAR}, #{parameter29,jdbcType=VARCHAR}, 
      #{parameter30,jdbcType=VARCHAR}, #{parameter31,jdbcType=VARCHAR}, #{parameter32,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.perfect.trains.model.EquipmentRepairRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into equipment_repairrecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trainId != null" >
        train_id,
      </if>
      <if test="equipmentId != null" >
        equipment_id,
      </if>
      <if test="repairDate != null" >
        repair_date,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="parameter1 != null" >
        parameter1,
      </if>
      <if test="parameter2 != null" >
        parameter2,
      </if>
      <if test="parameter3 != null" >
        parameter3,
      </if>
      <if test="parameter4 != null" >
        parameter4,
      </if>
      <if test="parameter5 != null" >
        parameter5,
      </if>
      <if test="parameter6 != null" >
        parameter6,
      </if>
      <if test="parameter7 != null" >
        parameter7,
      </if>
      <if test="parameter8 != null" >
        parameter8,
      </if>
      <if test="parameter9 != null" >
        parameter9,
      </if>
      <if test="parameter10 != null" >
        parameter10,
      </if>
      <if test="parameter11 != null" >
        parameter11,
      </if>
      <if test="parameter12 != null" >
        parameter12,
      </if>
      <if test="parameter13 != null" >
        parameter13,
      </if>
      <if test="parameter14 != null" >
        parameter14,
      </if>
      <if test="parameter15 != null" >
        parameter15,
      </if>
      <if test="parameter16 != null" >
        parameter16,
      </if>
      <if test="parameter17 != null" >
        parameter17,
      </if>
      <if test="parameter18 != null" >
        parameter18,
      </if>
      <if test="parameter19 != null" >
        parameter19,
      </if>
      <if test="parameter20 != null" >
        parameter20,
      </if>
      <if test="parameter21 != null" >
        parameter21,
      </if>
      <if test="parameter22 != null" >
        parameter22,
      </if>
      <if test="parameter23 != null" >
        parameter23,
      </if>
      <if test="parameter24 != null" >
        parameter24,
      </if>
      <if test="parameter25 != null" >
        parameter25,
      </if>
      <if test="parameter26 != null" >
        parameter26,
      </if>
      <if test="parameter27 != null" >
        parameter27,
      </if>
      <if test="parameter28 != null" >
        parameter28,
      </if>
      <if test="parameter29 != null" >
        parameter29,
      </if>
      <if test="parameter30 != null" >
        parameter30,
      </if>
      <if test="parameter31 != null" >
        parameter31,
      </if>
      <if test="parameter32 != null" >
        parameter32,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trainId != null" >
        #{trainId,jdbcType=BIGINT},
      </if>
      <if test="equipmentId != null" >
        #{equipmentId,jdbcType=BIGINT},
      </if>
      <if test="repairDate != null" >
        #{repairDate,jdbcType=DATE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="parameter1 != null" >
        #{parameter1,jdbcType=VARCHAR},
      </if>
      <if test="parameter2 != null" >
        #{parameter2,jdbcType=VARCHAR},
      </if>
      <if test="parameter3 != null" >
        #{parameter3,jdbcType=VARCHAR},
      </if>
      <if test="parameter4 != null" >
        #{parameter4,jdbcType=VARCHAR},
      </if>
      <if test="parameter5 != null" >
        #{parameter5,jdbcType=VARCHAR},
      </if>
      <if test="parameter6 != null" >
        #{parameter6,jdbcType=VARCHAR},
      </if>
      <if test="parameter7 != null" >
        #{parameter7,jdbcType=VARCHAR},
      </if>
      <if test="parameter8 != null" >
        #{parameter8,jdbcType=VARCHAR},
      </if>
      <if test="parameter9 != null" >
        #{parameter9,jdbcType=VARCHAR},
      </if>
      <if test="parameter10 != null" >
        #{parameter10,jdbcType=VARCHAR},
      </if>
      <if test="parameter11 != null" >
        #{parameter11,jdbcType=VARCHAR},
      </if>
      <if test="parameter12 != null" >
        #{parameter12,jdbcType=VARCHAR},
      </if>
      <if test="parameter13 != null" >
        #{parameter13,jdbcType=VARCHAR},
      </if>
      <if test="parameter14 != null" >
        #{parameter14,jdbcType=VARCHAR},
      </if>
      <if test="parameter15 != null" >
        #{parameter15,jdbcType=VARCHAR},
      </if>
      <if test="parameter16 != null" >
        #{parameter16,jdbcType=VARCHAR},
      </if>
      <if test="parameter17 != null" >
        #{parameter17,jdbcType=VARCHAR},
      </if>
      <if test="parameter18 != null" >
        #{parameter18,jdbcType=VARCHAR},
      </if>
      <if test="parameter19 != null" >
        #{parameter19,jdbcType=VARCHAR},
      </if>
      <if test="parameter20 != null" >
        #{parameter20,jdbcType=VARCHAR},
      </if>
      <if test="parameter21 != null" >
        #{parameter21,jdbcType=VARCHAR},
      </if>
      <if test="parameter22 != null" >
        #{parameter22,jdbcType=VARCHAR},
      </if>
      <if test="parameter23 != null" >
        #{parameter23,jdbcType=VARCHAR},
      </if>
      <if test="parameter24 != null" >
        #{parameter24,jdbcType=VARCHAR},
      </if>
      <if test="parameter25 != null" >
        #{parameter25,jdbcType=VARCHAR},
      </if>
      <if test="parameter26 != null" >
        #{parameter26,jdbcType=VARCHAR},
      </if>
      <if test="parameter27 != null" >
        #{parameter27,jdbcType=VARCHAR},
      </if>
      <if test="parameter28 != null" >
        #{parameter28,jdbcType=VARCHAR},
      </if>
      <if test="parameter29 != null" >
        #{parameter29,jdbcType=VARCHAR},
      </if>
      <if test="parameter30 != null" >
        #{parameter30,jdbcType=VARCHAR},
      </if>
      <if test="parameter31 != null" >
        #{parameter31,jdbcType=VARCHAR},
      </if>
      <if test="parameter32 != null" >
        #{parameter32,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.perfect.trains.model.EquipmentRepairRecordExample" resultType="java.lang.Integer" >
    select count(*) from equipment_repairrecord equipmentRepairRecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update equipment_repairrecord equipmentRepairRecord
    <set >
      <if test="record.id != null" >
        equipmentRepairRecord.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.trainId != null" >
        equipmentRepairRecord.train_id = #{record.trainId,jdbcType=BIGINT},
      </if>
      <if test="record.equipmentId != null" >
        equipmentRepairRecord.equipment_id = #{record.equipmentId,jdbcType=BIGINT},
      </if>
      <if test="record.repairDate != null" >
        equipmentRepairRecord.repair_date = #{record.repairDate,jdbcType=DATE},
      </if>
      <if test="record.type != null" >
        equipmentRepairRecord.`type` = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter1 != null" >
        equipmentRepairRecord.parameter1 = #{record.parameter1,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter2 != null" >
        equipmentRepairRecord.parameter2 = #{record.parameter2,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter3 != null" >
        equipmentRepairRecord.parameter3 = #{record.parameter3,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter4 != null" >
        equipmentRepairRecord.parameter4 = #{record.parameter4,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter5 != null" >
        equipmentRepairRecord.parameter5 = #{record.parameter5,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter6 != null" >
        equipmentRepairRecord.parameter6 = #{record.parameter6,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter7 != null" >
        equipmentRepairRecord.parameter7 = #{record.parameter7,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter8 != null" >
        equipmentRepairRecord.parameter8 = #{record.parameter8,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter9 != null" >
        equipmentRepairRecord.parameter9 = #{record.parameter9,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter10 != null" >
        equipmentRepairRecord.parameter10 = #{record.parameter10,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter11 != null" >
        equipmentRepairRecord.parameter11 = #{record.parameter11,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter12 != null" >
        equipmentRepairRecord.parameter12 = #{record.parameter12,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter13 != null" >
        equipmentRepairRecord.parameter13 = #{record.parameter13,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter14 != null" >
        equipmentRepairRecord.parameter14 = #{record.parameter14,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter15 != null" >
        equipmentRepairRecord.parameter15 = #{record.parameter15,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter16 != null" >
        equipmentRepairRecord.parameter16 = #{record.parameter16,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter17 != null" >
        equipmentRepairRecord.parameter17 = #{record.parameter17,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter18 != null" >
        equipmentRepairRecord.parameter18 = #{record.parameter18,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter19 != null" >
        equipmentRepairRecord.parameter19 = #{record.parameter19,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter20 != null" >
        equipmentRepairRecord.parameter20 = #{record.parameter20,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter21 != null" >
        equipmentRepairRecord.parameter21 = #{record.parameter21,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter22 != null" >
        equipmentRepairRecord.parameter22 = #{record.parameter22,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter23 != null" >
        equipmentRepairRecord.parameter23 = #{record.parameter23,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter24 != null" >
        equipmentRepairRecord.parameter24 = #{record.parameter24,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter25 != null" >
        equipmentRepairRecord.parameter25 = #{record.parameter25,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter26 != null" >
        equipmentRepairRecord.parameter26 = #{record.parameter26,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter27 != null" >
        equipmentRepairRecord.parameter27 = #{record.parameter27,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter28 != null" >
        equipmentRepairRecord.parameter28 = #{record.parameter28,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter29 != null" >
        equipmentRepairRecord.parameter29 = #{record.parameter29,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter30 != null" >
        equipmentRepairRecord.parameter30 = #{record.parameter30,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter31 != null" >
        equipmentRepairRecord.parameter31 = #{record.parameter31,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter32 != null" >
        equipmentRepairRecord.parameter32 = #{record.parameter32,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update equipment_repairrecord equipmentRepairRecord
    set equipmentRepairRecord.id = #{record.id,jdbcType=BIGINT},
      equipmentRepairRecord.train_id = #{record.trainId,jdbcType=BIGINT},
      equipmentRepairRecord.equipment_id = #{record.equipmentId,jdbcType=BIGINT},
      equipmentRepairRecord.repair_date = #{record.repairDate,jdbcType=DATE},
      equipmentRepairRecord.`type` = #{record.type,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter1 = #{record.parameter1,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter2 = #{record.parameter2,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter3 = #{record.parameter3,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter4 = #{record.parameter4,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter5 = #{record.parameter5,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter6 = #{record.parameter6,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter7 = #{record.parameter7,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter8 = #{record.parameter8,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter9 = #{record.parameter9,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter10 = #{record.parameter10,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter11 = #{record.parameter11,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter12 = #{record.parameter12,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter13 = #{record.parameter13,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter14 = #{record.parameter14,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter15 = #{record.parameter15,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter16 = #{record.parameter16,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter17 = #{record.parameter17,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter18 = #{record.parameter18,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter19 = #{record.parameter19,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter20 = #{record.parameter20,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter21 = #{record.parameter21,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter22 = #{record.parameter22,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter23 = #{record.parameter23,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter24 = #{record.parameter24,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter25 = #{record.parameter25,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter26 = #{record.parameter26,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter27 = #{record.parameter27,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter28 = #{record.parameter28,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter29 = #{record.parameter29,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter30 = #{record.parameter30,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter31 = #{record.parameter31,jdbcType=VARCHAR},
      equipmentRepairRecord.parameter32 = #{record.parameter32,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.perfect.trains.model.EquipmentRepairRecord" >
    update equipment_repairrecord
    <set >
      <if test="trainId != null" >
        train_id = #{trainId,jdbcType=BIGINT},
      </if>
      <if test="equipmentId != null" >
        equipment_id = #{equipmentId,jdbcType=BIGINT},
      </if>
      <if test="repairDate != null" >
        repair_date = #{repairDate,jdbcType=DATE},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="parameter1 != null" >
        parameter1 = #{parameter1,jdbcType=VARCHAR},
      </if>
      <if test="parameter2 != null" >
        parameter2 = #{parameter2,jdbcType=VARCHAR},
      </if>
      <if test="parameter3 != null" >
        parameter3 = #{parameter3,jdbcType=VARCHAR},
      </if>
      <if test="parameter4 != null" >
        parameter4 = #{parameter4,jdbcType=VARCHAR},
      </if>
      <if test="parameter5 != null" >
        parameter5 = #{parameter5,jdbcType=VARCHAR},
      </if>
      <if test="parameter6 != null" >
        parameter6 = #{parameter6,jdbcType=VARCHAR},
      </if>
      <if test="parameter7 != null" >
        parameter7 = #{parameter7,jdbcType=VARCHAR},
      </if>
      <if test="parameter8 != null" >
        parameter8 = #{parameter8,jdbcType=VARCHAR},
      </if>
      <if test="parameter9 != null" >
        parameter9 = #{parameter9,jdbcType=VARCHAR},
      </if>
      <if test="parameter10 != null" >
        parameter10 = #{parameter10,jdbcType=VARCHAR},
      </if>
      <if test="parameter11 != null" >
        parameter11 = #{parameter11,jdbcType=VARCHAR},
      </if>
      <if test="parameter12 != null" >
        parameter12 = #{parameter12,jdbcType=VARCHAR},
      </if>
      <if test="parameter13 != null" >
        parameter13 = #{parameter13,jdbcType=VARCHAR},
      </if>
      <if test="parameter14 != null" >
        parameter14 = #{parameter14,jdbcType=VARCHAR},
      </if>
      <if test="parameter15 != null" >
        parameter15 = #{parameter15,jdbcType=VARCHAR},
      </if>
      <if test="parameter16 != null" >
        parameter16 = #{parameter16,jdbcType=VARCHAR},
      </if>
      <if test="parameter17 != null" >
        parameter17 = #{parameter17,jdbcType=VARCHAR},
      </if>
      <if test="parameter18 != null" >
        parameter18 = #{parameter18,jdbcType=VARCHAR},
      </if>
      <if test="parameter19 != null" >
        parameter19 = #{parameter19,jdbcType=VARCHAR},
      </if>
      <if test="parameter20 != null" >
        parameter20 = #{parameter20,jdbcType=VARCHAR},
      </if>
      <if test="parameter21 != null" >
        parameter21 = #{parameter21,jdbcType=VARCHAR},
      </if>
      <if test="parameter22 != null" >
        parameter22 = #{parameter22,jdbcType=VARCHAR},
      </if>
      <if test="parameter23 != null" >
        parameter23 = #{parameter23,jdbcType=VARCHAR},
      </if>
      <if test="parameter24 != null" >
        parameter24 = #{parameter24,jdbcType=VARCHAR},
      </if>
      <if test="parameter25 != null" >
        parameter25 = #{parameter25,jdbcType=VARCHAR},
      </if>
      <if test="parameter26 != null" >
        parameter26 = #{parameter26,jdbcType=VARCHAR},
      </if>
      <if test="parameter27 != null" >
        parameter27 = #{parameter27,jdbcType=VARCHAR},
      </if>
      <if test="parameter28 != null" >
        parameter28 = #{parameter28,jdbcType=VARCHAR},
      </if>
      <if test="parameter29 != null" >
        parameter29 = #{parameter29,jdbcType=VARCHAR},
      </if>
      <if test="parameter30 != null" >
        parameter30 = #{parameter30,jdbcType=VARCHAR},
      </if>
      <if test="parameter31 != null" >
        parameter31 = #{parameter31,jdbcType=VARCHAR},
      </if>
      <if test="parameter32 != null" >
        parameter32 = #{parameter32,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.perfect.trains.model.EquipmentRepairRecord" >
    update equipment_repairrecord
    set train_id = #{trainId,jdbcType=BIGINT},
      equipment_id = #{equipmentId,jdbcType=BIGINT},
      repair_date = #{repairDate,jdbcType=DATE},
      `type` = #{type,jdbcType=VARCHAR},
      parameter1 = #{parameter1,jdbcType=VARCHAR},
      parameter2 = #{parameter2,jdbcType=VARCHAR},
      parameter3 = #{parameter3,jdbcType=VARCHAR},
      parameter4 = #{parameter4,jdbcType=VARCHAR},
      parameter5 = #{parameter5,jdbcType=VARCHAR},
      parameter6 = #{parameter6,jdbcType=VARCHAR},
      parameter7 = #{parameter7,jdbcType=VARCHAR},
      parameter8 = #{parameter8,jdbcType=VARCHAR},
      parameter9 = #{parameter9,jdbcType=VARCHAR},
      parameter10 = #{parameter10,jdbcType=VARCHAR},
      parameter11 = #{parameter11,jdbcType=VARCHAR},
      parameter12 = #{parameter12,jdbcType=VARCHAR},
      parameter13 = #{parameter13,jdbcType=VARCHAR},
      parameter14 = #{parameter14,jdbcType=VARCHAR},
      parameter15 = #{parameter15,jdbcType=VARCHAR},
      parameter16 = #{parameter16,jdbcType=VARCHAR},
      parameter17 = #{parameter17,jdbcType=VARCHAR},
      parameter18 = #{parameter18,jdbcType=VARCHAR},
      parameter19 = #{parameter19,jdbcType=VARCHAR},
      parameter20 = #{parameter20,jdbcType=VARCHAR},
      parameter21 = #{parameter21,jdbcType=VARCHAR},
      parameter22 = #{parameter22,jdbcType=VARCHAR},
      parameter23 = #{parameter23,jdbcType=VARCHAR},
      parameter24 = #{parameter24,jdbcType=VARCHAR},
      parameter25 = #{parameter25,jdbcType=VARCHAR},
      parameter26 = #{parameter26,jdbcType=VARCHAR},
      parameter27 = #{parameter27,jdbcType=VARCHAR},
      parameter28 = #{parameter28,jdbcType=VARCHAR},
      parameter29 = #{parameter29,jdbcType=VARCHAR},
      parameter30 = #{parameter30,jdbcType=VARCHAR},
      parameter31 = #{parameter31,jdbcType=VARCHAR},
      parameter32 = #{parameter32,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>