<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfect.trains.mapper.EquipmentClassificationMapper" >
  <resultMap id="BaseResultMap" type="com.perfect.trains.model.EquipmentClassification" >
    <id column="equipmentClassification_id" property="id" />
    <result column="equipmentClassification_warranty" property="warranty" jdbcType="INTEGER" />
    <result column="equipmentClassification_name" property="name" jdbcType="VARCHAR" />
    <result column="equipmentClassification_suffix" property="suffix" jdbcType="VARCHAR" />
    <result column="equipmentClassification_code" property="code" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parent_code" property="parentCode" jdbcType="VARCHAR" />
    <result column="equipmentClassification_leaf" property="leaf" jdbcType="INTEGER" />
    <result column="equipmentClassification_sort_index" property="sortIndex" jdbcType="INTEGER" />
    <result column="equipmentClassification_classify" property="classify" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter1" property="parameter1" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter2" property="parameter2" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter3" property="parameter3" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter4" property="parameter4" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter5" property="parameter5" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter6" property="parameter6" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter7" property="parameter7" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter8" property="parameter8" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter9" property="parameter9" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter10" property="parameter10" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter11" property="parameter11" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter12" property="parameter12" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter13" property="parameter13" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter14" property="parameter14" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter15" property="parameter15" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter16" property="parameter16" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter17" property="parameter17" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter18" property="parameter18" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter19" property="parameter19" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter20" property="parameter20" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter21" property="parameter21" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter22" property="parameter22" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter23" property="parameter23" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter24" property="parameter24" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter25" property="parameter25" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter26" property="parameter26" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter27" property="parameter27" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter28" property="parameter28" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter29" property="parameter29" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter30" property="parameter30" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter31" property="parameter31" jdbcType="VARCHAR" />
    <result column="equipmentClassification_parameter32" property="parameter32" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    equipmentClassification.id as equipmentClassification_id, equipmentClassification.warranty as equipmentClassification_warranty, 
    equipmentClassification.`name` as `equipmentClassification_name`, equipmentClassification.suffix as equipmentClassification_suffix, 
    equipmentClassification.code as equipmentClassification_code, equipmentClassification.parent_code as equipmentClassification_parent_code, 
    equipmentClassification.leaf as equipmentClassification_leaf, equipmentClassification.sort_index as equipmentClassification_sort_index, 
    equipmentClassification.classify as equipmentClassification_classify, equipmentClassification.parameter1 as equipmentClassification_parameter1, 
    equipmentClassification.parameter2 as equipmentClassification_parameter2, equipmentClassification.parameter3 as equipmentClassification_parameter3, 
    equipmentClassification.parameter4 as equipmentClassification_parameter4, equipmentClassification.parameter5 as equipmentClassification_parameter5, 
    equipmentClassification.parameter6 as equipmentClassification_parameter6, equipmentClassification.parameter7 as equipmentClassification_parameter7, 
    equipmentClassification.parameter8 as equipmentClassification_parameter8, equipmentClassification.parameter9 as equipmentClassification_parameter9, 
    equipmentClassification.parameter10 as equipmentClassification_parameter10, equipmentClassification.parameter11 as equipmentClassification_parameter11, 
    equipmentClassification.parameter12 as equipmentClassification_parameter12, equipmentClassification.parameter13 as equipmentClassification_parameter13, 
    equipmentClassification.parameter14 as equipmentClassification_parameter14, equipmentClassification.parameter15 as equipmentClassification_parameter15, 
    equipmentClassification.parameter16 as equipmentClassification_parameter16, equipmentClassification.parameter17 as equipmentClassification_parameter17, 
    equipmentClassification.parameter18 as equipmentClassification_parameter18, equipmentClassification.parameter19 as equipmentClassification_parameter19, 
    equipmentClassification.parameter20 as equipmentClassification_parameter20, equipmentClassification.parameter21 as equipmentClassification_parameter21, 
    equipmentClassification.parameter22 as equipmentClassification_parameter22, equipmentClassification.parameter23 as equipmentClassification_parameter23, 
    equipmentClassification.parameter24 as equipmentClassification_parameter24, equipmentClassification.parameter25 as equipmentClassification_parameter25, 
    equipmentClassification.parameter26 as equipmentClassification_parameter26, equipmentClassification.parameter27 as equipmentClassification_parameter27, 
    equipmentClassification.parameter28 as equipmentClassification_parameter28, equipmentClassification.parameter29 as equipmentClassification_parameter29, 
    equipmentClassification.parameter30 as equipmentClassification_parameter30, equipmentClassification.parameter31 as equipmentClassification_parameter31, 
    equipmentClassification.parameter32 as equipmentClassification_parameter32
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.perfect.trains.model.EquipmentClassificationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipment_classification equipmentClassification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from equipment_classification equipmentClassification
    where equipmentClassification.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete equipmentClassification from equipment_classification equipmentClassification
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.perfect.trains.model.EquipmentClassificationExample" >
    delete equipmentClassification from equipment_classification equipmentClassification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.perfect.trains.model.EquipmentClassification" useGeneratedKeys="true" keyProperty="id" >
    insert into equipment_classification (warranty, `name`, suffix, 
      code, parent_code, leaf, 
      sort_index, classify, parameter1, 
      parameter2, parameter3, parameter4, 
      parameter5, parameter6, parameter7, 
      parameter8, parameter9, parameter10, 
      parameter11, parameter12, parameter13, 
      parameter14, parameter15, parameter16, 
      parameter17, parameter18, parameter19, 
      parameter20, parameter21, parameter22, 
      parameter23, parameter24, parameter25, 
      parameter26, parameter27, parameter28, 
      parameter29, parameter30, parameter31, 
      parameter32)
    values (#{warranty,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{leaf,jdbcType=INTEGER}, 
      #{sortIndex,jdbcType=INTEGER}, #{classify,jdbcType=VARCHAR}, #{parameter1,jdbcType=VARCHAR}, 
      #{parameter2,jdbcType=VARCHAR}, #{parameter3,jdbcType=VARCHAR}, #{parameter4,jdbcType=VARCHAR}, 
      #{parameter5,jdbcType=VARCHAR}, #{parameter6,jdbcType=VARCHAR}, #{parameter7,jdbcType=VARCHAR}, 
      #{parameter8,jdbcType=VARCHAR}, #{parameter9,jdbcType=VARCHAR}, #{parameter10,jdbcType=VARCHAR}, 
      #{parameter11,jdbcType=VARCHAR}, #{parameter12,jdbcType=VARCHAR}, #{parameter13,jdbcType=VARCHAR}, 
      #{parameter14,jdbcType=VARCHAR}, #{parameter15,jdbcType=VARCHAR}, #{parameter16,jdbcType=VARCHAR}, 
      #{parameter17,jdbcType=VARCHAR}, #{parameter18,jdbcType=VARCHAR}, #{parameter19,jdbcType=VARCHAR}, 
      #{parameter20,jdbcType=VARCHAR}, #{parameter21,jdbcType=VARCHAR}, #{parameter22,jdbcType=VARCHAR}, 
      #{parameter23,jdbcType=VARCHAR}, #{parameter24,jdbcType=VARCHAR}, #{parameter25,jdbcType=VARCHAR}, 
      #{parameter26,jdbcType=VARCHAR}, #{parameter27,jdbcType=VARCHAR}, #{parameter28,jdbcType=VARCHAR}, 
      #{parameter29,jdbcType=VARCHAR}, #{parameter30,jdbcType=VARCHAR}, #{parameter31,jdbcType=VARCHAR}, 
      #{parameter32,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.perfect.trains.model.EquipmentClassification" useGeneratedKeys="true" keyProperty="id" >
    insert into equipment_classification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="warranty != null" >
        warranty,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="suffix != null" >
        suffix,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="parentCode != null" >
        parent_code,
      </if>
      <if test="leaf != null" >
        leaf,
      </if>
      <if test="sortIndex != null" >
        sort_index,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="parameter1 != null" >
        parameter1,
      </if>
      <if test="parameter2 != null" >
        parameter2,
      </if>
      <if test="parameter3 != null" >
        parameter3,
      </if>
      <if test="parameter4 != null" >
        parameter4,
      </if>
      <if test="parameter5 != null" >
        parameter5,
      </if>
      <if test="parameter6 != null" >
        parameter6,
      </if>
      <if test="parameter7 != null" >
        parameter7,
      </if>
      <if test="parameter8 != null" >
        parameter8,
      </if>
      <if test="parameter9 != null" >
        parameter9,
      </if>
      <if test="parameter10 != null" >
        parameter10,
      </if>
      <if test="parameter11 != null" >
        parameter11,
      </if>
      <if test="parameter12 != null" >
        parameter12,
      </if>
      <if test="parameter13 != null" >
        parameter13,
      </if>
      <if test="parameter14 != null" >
        parameter14,
      </if>
      <if test="parameter15 != null" >
        parameter15,
      </if>
      <if test="parameter16 != null" >
        parameter16,
      </if>
      <if test="parameter17 != null" >
        parameter17,
      </if>
      <if test="parameter18 != null" >
        parameter18,
      </if>
      <if test="parameter19 != null" >
        parameter19,
      </if>
      <if test="parameter20 != null" >
        parameter20,
      </if>
      <if test="parameter21 != null" >
        parameter21,
      </if>
      <if test="parameter22 != null" >
        parameter22,
      </if>
      <if test="parameter23 != null" >
        parameter23,
      </if>
      <if test="parameter24 != null" >
        parameter24,
      </if>
      <if test="parameter25 != null" >
        parameter25,
      </if>
      <if test="parameter26 != null" >
        parameter26,
      </if>
      <if test="parameter27 != null" >
        parameter27,
      </if>
      <if test="parameter28 != null" >
        parameter28,
      </if>
      <if test="parameter29 != null" >
        parameter29,
      </if>
      <if test="parameter30 != null" >
        parameter30,
      </if>
      <if test="parameter31 != null" >
        parameter31,
      </if>
      <if test="parameter32 != null" >
        parameter32,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="warranty != null" >
        #{warranty,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null" >
        #{leaf,jdbcType=INTEGER},
      </if>
      <if test="sortIndex != null" >
        #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=VARCHAR},
      </if>
      <if test="parameter1 != null" >
        #{parameter1,jdbcType=VARCHAR},
      </if>
      <if test="parameter2 != null" >
        #{parameter2,jdbcType=VARCHAR},
      </if>
      <if test="parameter3 != null" >
        #{parameter3,jdbcType=VARCHAR},
      </if>
      <if test="parameter4 != null" >
        #{parameter4,jdbcType=VARCHAR},
      </if>
      <if test="parameter5 != null" >
        #{parameter5,jdbcType=VARCHAR},
      </if>
      <if test="parameter6 != null" >
        #{parameter6,jdbcType=VARCHAR},
      </if>
      <if test="parameter7 != null" >
        #{parameter7,jdbcType=VARCHAR},
      </if>
      <if test="parameter8 != null" >
        #{parameter8,jdbcType=VARCHAR},
      </if>
      <if test="parameter9 != null" >
        #{parameter9,jdbcType=VARCHAR},
      </if>
      <if test="parameter10 != null" >
        #{parameter10,jdbcType=VARCHAR},
      </if>
      <if test="parameter11 != null" >
        #{parameter11,jdbcType=VARCHAR},
      </if>
      <if test="parameter12 != null" >
        #{parameter12,jdbcType=VARCHAR},
      </if>
      <if test="parameter13 != null" >
        #{parameter13,jdbcType=VARCHAR},
      </if>
      <if test="parameter14 != null" >
        #{parameter14,jdbcType=VARCHAR},
      </if>
      <if test="parameter15 != null" >
        #{parameter15,jdbcType=VARCHAR},
      </if>
      <if test="parameter16 != null" >
        #{parameter16,jdbcType=VARCHAR},
      </if>
      <if test="parameter17 != null" >
        #{parameter17,jdbcType=VARCHAR},
      </if>
      <if test="parameter18 != null" >
        #{parameter18,jdbcType=VARCHAR},
      </if>
      <if test="parameter19 != null" >
        #{parameter19,jdbcType=VARCHAR},
      </if>
      <if test="parameter20 != null" >
        #{parameter20,jdbcType=VARCHAR},
      </if>
      <if test="parameter21 != null" >
        #{parameter21,jdbcType=VARCHAR},
      </if>
      <if test="parameter22 != null" >
        #{parameter22,jdbcType=VARCHAR},
      </if>
      <if test="parameter23 != null" >
        #{parameter23,jdbcType=VARCHAR},
      </if>
      <if test="parameter24 != null" >
        #{parameter24,jdbcType=VARCHAR},
      </if>
      <if test="parameter25 != null" >
        #{parameter25,jdbcType=VARCHAR},
      </if>
      <if test="parameter26 != null" >
        #{parameter26,jdbcType=VARCHAR},
      </if>
      <if test="parameter27 != null" >
        #{parameter27,jdbcType=VARCHAR},
      </if>
      <if test="parameter28 != null" >
        #{parameter28,jdbcType=VARCHAR},
      </if>
      <if test="parameter29 != null" >
        #{parameter29,jdbcType=VARCHAR},
      </if>
      <if test="parameter30 != null" >
        #{parameter30,jdbcType=VARCHAR},
      </if>
      <if test="parameter31 != null" >
        #{parameter31,jdbcType=VARCHAR},
      </if>
      <if test="parameter32 != null" >
        #{parameter32,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.perfect.trains.model.EquipmentClassificationExample" resultType="java.lang.Integer" >
    select count(*) from equipment_classification equipmentClassification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update equipment_classification equipmentClassification
    <set >
      <if test="record.id != null" >
        equipmentClassification.id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.warranty != null" >
        equipmentClassification.warranty = #{record.warranty,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        equipmentClassification.`name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.suffix != null" >
        equipmentClassification.suffix = #{record.suffix,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        equipmentClassification.code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.parentCode != null" >
        equipmentClassification.parent_code = #{record.parentCode,jdbcType=VARCHAR},
      </if>
      <if test="record.leaf != null" >
        equipmentClassification.leaf = #{record.leaf,jdbcType=INTEGER},
      </if>
      <if test="record.sortIndex != null" >
        equipmentClassification.sort_index = #{record.sortIndex,jdbcType=INTEGER},
      </if>
      <if test="record.classify != null" >
        equipmentClassification.classify = #{record.classify,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter1 != null" >
        equipmentClassification.parameter1 = #{record.parameter1,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter2 != null" >
        equipmentClassification.parameter2 = #{record.parameter2,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter3 != null" >
        equipmentClassification.parameter3 = #{record.parameter3,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter4 != null" >
        equipmentClassification.parameter4 = #{record.parameter4,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter5 != null" >
        equipmentClassification.parameter5 = #{record.parameter5,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter6 != null" >
        equipmentClassification.parameter6 = #{record.parameter6,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter7 != null" >
        equipmentClassification.parameter7 = #{record.parameter7,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter8 != null" >
        equipmentClassification.parameter8 = #{record.parameter8,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter9 != null" >
        equipmentClassification.parameter9 = #{record.parameter9,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter10 != null" >
        equipmentClassification.parameter10 = #{record.parameter10,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter11 != null" >
        equipmentClassification.parameter11 = #{record.parameter11,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter12 != null" >
        equipmentClassification.parameter12 = #{record.parameter12,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter13 != null" >
        equipmentClassification.parameter13 = #{record.parameter13,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter14 != null" >
        equipmentClassification.parameter14 = #{record.parameter14,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter15 != null" >
        equipmentClassification.parameter15 = #{record.parameter15,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter16 != null" >
        equipmentClassification.parameter16 = #{record.parameter16,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter17 != null" >
        equipmentClassification.parameter17 = #{record.parameter17,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter18 != null" >
        equipmentClassification.parameter18 = #{record.parameter18,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter19 != null" >
        equipmentClassification.parameter19 = #{record.parameter19,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter20 != null" >
        equipmentClassification.parameter20 = #{record.parameter20,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter21 != null" >
        equipmentClassification.parameter21 = #{record.parameter21,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter22 != null" >
        equipmentClassification.parameter22 = #{record.parameter22,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter23 != null" >
        equipmentClassification.parameter23 = #{record.parameter23,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter24 != null" >
        equipmentClassification.parameter24 = #{record.parameter24,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter25 != null" >
        equipmentClassification.parameter25 = #{record.parameter25,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter26 != null" >
        equipmentClassification.parameter26 = #{record.parameter26,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter27 != null" >
        equipmentClassification.parameter27 = #{record.parameter27,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter28 != null" >
        equipmentClassification.parameter28 = #{record.parameter28,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter29 != null" >
        equipmentClassification.parameter29 = #{record.parameter29,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter30 != null" >
        equipmentClassification.parameter30 = #{record.parameter30,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter31 != null" >
        equipmentClassification.parameter31 = #{record.parameter31,jdbcType=VARCHAR},
      </if>
      <if test="record.parameter32 != null" >
        equipmentClassification.parameter32 = #{record.parameter32,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update equipment_classification equipmentClassification
    set equipmentClassification.id = #{record.id,jdbcType=BIGINT},
      equipmentClassification.warranty = #{record.warranty,jdbcType=INTEGER},
      equipmentClassification.`name` = #{record.name,jdbcType=VARCHAR},
      equipmentClassification.suffix = #{record.suffix,jdbcType=VARCHAR},
      equipmentClassification.code = #{record.code,jdbcType=VARCHAR},
      equipmentClassification.parent_code = #{record.parentCode,jdbcType=VARCHAR},
      equipmentClassification.leaf = #{record.leaf,jdbcType=INTEGER},
      equipmentClassification.sort_index = #{record.sortIndex,jdbcType=INTEGER},
      equipmentClassification.classify = #{record.classify,jdbcType=VARCHAR},
      equipmentClassification.parameter1 = #{record.parameter1,jdbcType=VARCHAR},
      equipmentClassification.parameter2 = #{record.parameter2,jdbcType=VARCHAR},
      equipmentClassification.parameter3 = #{record.parameter3,jdbcType=VARCHAR},
      equipmentClassification.parameter4 = #{record.parameter4,jdbcType=VARCHAR},
      equipmentClassification.parameter5 = #{record.parameter5,jdbcType=VARCHAR},
      equipmentClassification.parameter6 = #{record.parameter6,jdbcType=VARCHAR},
      equipmentClassification.parameter7 = #{record.parameter7,jdbcType=VARCHAR},
      equipmentClassification.parameter8 = #{record.parameter8,jdbcType=VARCHAR},
      equipmentClassification.parameter9 = #{record.parameter9,jdbcType=VARCHAR},
      equipmentClassification.parameter10 = #{record.parameter10,jdbcType=VARCHAR},
      equipmentClassification.parameter11 = #{record.parameter11,jdbcType=VARCHAR},
      equipmentClassification.parameter12 = #{record.parameter12,jdbcType=VARCHAR},
      equipmentClassification.parameter13 = #{record.parameter13,jdbcType=VARCHAR},
      equipmentClassification.parameter14 = #{record.parameter14,jdbcType=VARCHAR},
      equipmentClassification.parameter15 = #{record.parameter15,jdbcType=VARCHAR},
      equipmentClassification.parameter16 = #{record.parameter16,jdbcType=VARCHAR},
      equipmentClassification.parameter17 = #{record.parameter17,jdbcType=VARCHAR},
      equipmentClassification.parameter18 = #{record.parameter18,jdbcType=VARCHAR},
      equipmentClassification.parameter19 = #{record.parameter19,jdbcType=VARCHAR},
      equipmentClassification.parameter20 = #{record.parameter20,jdbcType=VARCHAR},
      equipmentClassification.parameter21 = #{record.parameter21,jdbcType=VARCHAR},
      equipmentClassification.parameter22 = #{record.parameter22,jdbcType=VARCHAR},
      equipmentClassification.parameter23 = #{record.parameter23,jdbcType=VARCHAR},
      equipmentClassification.parameter24 = #{record.parameter24,jdbcType=VARCHAR},
      equipmentClassification.parameter25 = #{record.parameter25,jdbcType=VARCHAR},
      equipmentClassification.parameter26 = #{record.parameter26,jdbcType=VARCHAR},
      equipmentClassification.parameter27 = #{record.parameter27,jdbcType=VARCHAR},
      equipmentClassification.parameter28 = #{record.parameter28,jdbcType=VARCHAR},
      equipmentClassification.parameter29 = #{record.parameter29,jdbcType=VARCHAR},
      equipmentClassification.parameter30 = #{record.parameter30,jdbcType=VARCHAR},
      equipmentClassification.parameter31 = #{record.parameter31,jdbcType=VARCHAR},
      equipmentClassification.parameter32 = #{record.parameter32,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.perfect.trains.model.EquipmentClassification" >
    update equipment_classification
    <set >
      <if test="warranty != null" >
        warranty = #{warranty,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentCode != null" >
        parent_code = #{parentCode,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null" >
        leaf = #{leaf,jdbcType=INTEGER},
      </if>
      <if test="sortIndex != null" >
        sort_index = #{sortIndex,jdbcType=INTEGER},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=VARCHAR},
      </if>
      <if test="parameter1 != null" >
        parameter1 = #{parameter1,jdbcType=VARCHAR},
      </if>
      <if test="parameter2 != null" >
        parameter2 = #{parameter2,jdbcType=VARCHAR},
      </if>
      <if test="parameter3 != null" >
        parameter3 = #{parameter3,jdbcType=VARCHAR},
      </if>
      <if test="parameter4 != null" >
        parameter4 = #{parameter4,jdbcType=VARCHAR},
      </if>
      <if test="parameter5 != null" >
        parameter5 = #{parameter5,jdbcType=VARCHAR},
      </if>
      <if test="parameter6 != null" >
        parameter6 = #{parameter6,jdbcType=VARCHAR},
      </if>
      <if test="parameter7 != null" >
        parameter7 = #{parameter7,jdbcType=VARCHAR},
      </if>
      <if test="parameter8 != null" >
        parameter8 = #{parameter8,jdbcType=VARCHAR},
      </if>
      <if test="parameter9 != null" >
        parameter9 = #{parameter9,jdbcType=VARCHAR},
      </if>
      <if test="parameter10 != null" >
        parameter10 = #{parameter10,jdbcType=VARCHAR},
      </if>
      <if test="parameter11 != null" >
        parameter11 = #{parameter11,jdbcType=VARCHAR},
      </if>
      <if test="parameter12 != null" >
        parameter12 = #{parameter12,jdbcType=VARCHAR},
      </if>
      <if test="parameter13 != null" >
        parameter13 = #{parameter13,jdbcType=VARCHAR},
      </if>
      <if test="parameter14 != null" >
        parameter14 = #{parameter14,jdbcType=VARCHAR},
      </if>
      <if test="parameter15 != null" >
        parameter15 = #{parameter15,jdbcType=VARCHAR},
      </if>
      <if test="parameter16 != null" >
        parameter16 = #{parameter16,jdbcType=VARCHAR},
      </if>
      <if test="parameter17 != null" >
        parameter17 = #{parameter17,jdbcType=VARCHAR},
      </if>
      <if test="parameter18 != null" >
        parameter18 = #{parameter18,jdbcType=VARCHAR},
      </if>
      <if test="parameter19 != null" >
        parameter19 = #{parameter19,jdbcType=VARCHAR},
      </if>
      <if test="parameter20 != null" >
        parameter20 = #{parameter20,jdbcType=VARCHAR},
      </if>
      <if test="parameter21 != null" >
        parameter21 = #{parameter21,jdbcType=VARCHAR},
      </if>
      <if test="parameter22 != null" >
        parameter22 = #{parameter22,jdbcType=VARCHAR},
      </if>
      <if test="parameter23 != null" >
        parameter23 = #{parameter23,jdbcType=VARCHAR},
      </if>
      <if test="parameter24 != null" >
        parameter24 = #{parameter24,jdbcType=VARCHAR},
      </if>
      <if test="parameter25 != null" >
        parameter25 = #{parameter25,jdbcType=VARCHAR},
      </if>
      <if test="parameter26 != null" >
        parameter26 = #{parameter26,jdbcType=VARCHAR},
      </if>
      <if test="parameter27 != null" >
        parameter27 = #{parameter27,jdbcType=VARCHAR},
      </if>
      <if test="parameter28 != null" >
        parameter28 = #{parameter28,jdbcType=VARCHAR},
      </if>
      <if test="parameter29 != null" >
        parameter29 = #{parameter29,jdbcType=VARCHAR},
      </if>
      <if test="parameter30 != null" >
        parameter30 = #{parameter30,jdbcType=VARCHAR},
      </if>
      <if test="parameter31 != null" >
        parameter31 = #{parameter31,jdbcType=VARCHAR},
      </if>
      <if test="parameter32 != null" >
        parameter32 = #{parameter32,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.perfect.trains.model.EquipmentClassification" >
    update equipment_classification
    set warranty = #{warranty,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      suffix = #{suffix,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      leaf = #{leaf,jdbcType=INTEGER},
      sort_index = #{sortIndex,jdbcType=INTEGER},
      classify = #{classify,jdbcType=VARCHAR},
      parameter1 = #{parameter1,jdbcType=VARCHAR},
      parameter2 = #{parameter2,jdbcType=VARCHAR},
      parameter3 = #{parameter3,jdbcType=VARCHAR},
      parameter4 = #{parameter4,jdbcType=VARCHAR},
      parameter5 = #{parameter5,jdbcType=VARCHAR},
      parameter6 = #{parameter6,jdbcType=VARCHAR},
      parameter7 = #{parameter7,jdbcType=VARCHAR},
      parameter8 = #{parameter8,jdbcType=VARCHAR},
      parameter9 = #{parameter9,jdbcType=VARCHAR},
      parameter10 = #{parameter10,jdbcType=VARCHAR},
      parameter11 = #{parameter11,jdbcType=VARCHAR},
      parameter12 = #{parameter12,jdbcType=VARCHAR},
      parameter13 = #{parameter13,jdbcType=VARCHAR},
      parameter14 = #{parameter14,jdbcType=VARCHAR},
      parameter15 = #{parameter15,jdbcType=VARCHAR},
      parameter16 = #{parameter16,jdbcType=VARCHAR},
      parameter17 = #{parameter17,jdbcType=VARCHAR},
      parameter18 = #{parameter18,jdbcType=VARCHAR},
      parameter19 = #{parameter19,jdbcType=VARCHAR},
      parameter20 = #{parameter20,jdbcType=VARCHAR},
      parameter21 = #{parameter21,jdbcType=VARCHAR},
      parameter22 = #{parameter22,jdbcType=VARCHAR},
      parameter23 = #{parameter23,jdbcType=VARCHAR},
      parameter24 = #{parameter24,jdbcType=VARCHAR},
      parameter25 = #{parameter25,jdbcType=VARCHAR},
      parameter26 = #{parameter26,jdbcType=VARCHAR},
      parameter27 = #{parameter27,jdbcType=VARCHAR},
      parameter28 = #{parameter28,jdbcType=VARCHAR},
      parameter29 = #{parameter29,jdbcType=VARCHAR},
      parameter30 = #{parameter30,jdbcType=VARCHAR},
      parameter31 = #{parameter31,jdbcType=VARCHAR},
      parameter32 = #{parameter32,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>